<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
    <key>NSSupportsLiveActivitiesFrequentUpdates</key>
    <true/>
	<key>NSCameraUsageDescription</key>
	<string>Sunny uses the camera to tell how bright it is outside.</string>
	<key>CFBundleIdentifier</key>
	<string>com.wml.sunny</string>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.sunny.scheduleSunTask</string>
    </array>
</dict>
</plist>
